In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("students_performance_dirty.csv")
df.head()
print("Number of missing value: \n",df.isnull().sum())

Number of missing value:
 gender            8
study_hours       8
attendance_pct    0
math_score        0
reading_score     0
final_score       0
dtype: int64

#### drop row where gender is missing

In [3]:
df= df.dropna(subset = ['gender'])
df.head()

   gender  study_hours  attendance_pct  math_score  reading_score  final_score
0    male          1.7            83.6        62.0           91.0         38.9
2  female          2.9            97.5        69.0           57.0         35.0
3  female          4.8            85.7        78.0           62.0         36.5
4    male          3.9           -10.0        64.0           95.0         30.9
5    male          1.4            93.7        77.0           72.0         39.0

#### fill study_hours with average_study_hours

In [5]:
df.fillna(df['study_hours'].mean(),inplace=True)
df.head()

   gender  study_hours  attendance_pct  math_score  reading_score  final_score
0    male          1.7            83.6        62.0           91.0         38.9
2  female          2.9            97.5        69.0           57.0         35.0
3  female          4.8            85.7        78.0           62.0         36.5
4    male          3.9           -10.0        64.0           95.0         30.9
5    male          1.4            93.7        77.0           72.0         39.0

In [6]:
print("Number of missing value: \n",df.isnull().sum())

Number of missing value:
 gender            0
study_hours       0
attendance_pct    0
math_score        0
reading_score     0
final_score       0
dtype: int64